.optimize-container {
    width: 100%;
    margin: 30px auto;
    max-width: 650px;
    background-color: #021638;
    background-image: linear-gradient(90deg, #021638 0%, #062f63 100%);
    background-size: contain;
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
    border: 5px solid #FFF;
    border-radius: 10px;

    .heading {
        margin-top: 30px;
        text-align: center;
        color: #FFF;
        border-bottom: 1px solid #1F345E;
        padding-bottom: 20px;
    }

    .optimize-button {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 5px solid #17939c;
        background-color: #0b1f50;
        background-image: linear-gradient(0deg, #0b1f50 0%, #0d3a6d 100%);
        color: #FFF;
        font-size: 18px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        &:focus{
            box-shadow: none;
            text-decoration: none;
        }
    }

    .col-right {
        padding-top: 30px;
        padding-bottom: 30px;
        .optimize-item{
            &:not(:last-child){
                margin-bottom: 20px;
            }
            padding-left: 20px;
            label{
                color: #FFF;
            }
            .count{
                margin-left: 8px;
                display: inline-block;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                border-radius: 50%;
                box-shadow: 0 0 0 1px #36ff80;
                font-size: 0.6rem;
                &.has-item{
                    box-shadow: 0 0 0 1px #ff7823;
                }
                i{
                    color: #36ff80;
                }
            }
            label{
                font-weight: 300;
            }
        }
    }
    .col-left{
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .optimize-footer{
        border-top: 1px solid #1F345E;
        padding: 25px 20px;
    }
}
.awe-booking.rtl{
    .optimize-container .col-right .optimize-item{
        padding-left: 0;
        padding-right: 20px;
    }
}
